.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0f172a;
    padding: 12px 24px;

    img {
        width: 120px;
        height: 5%;
    }


     .nav-fav {
    display: flex; // <- adicionado para manter tudo em linha
    align-items: center;
    padding-right: 15px;

    a {
      text-decoration: none;
    }

    p {
      color: #fff;
      cursor: pointer;
      font-size: 14px;
      transition: color 0.3s;
      display: inline-block;
      margin-right: 10px;

      &:hover {
        color: #ff6600;
      }
    }

    .auth-section {
      display: flex;
      align-items: center;
      gap: 10px;

      .user-info {
        display: flex;
        align-items: center;
        gap: 8px;

        .btn-exit {
          margin-left: 10px;
        }
      }
    }
  }
}