
    .toggle-button {
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        width: 200px;
        background: #ccc;
        color: #fff;
        cursor: pointer;
        transition: all 0.3s;
        font-size: 16px;
    }

    .toggle-button.on {
        background: #22c55e;
        /* verde */
    }

    .toggle-button.off {
        background: #ef4444;
        /* vermelho */
    }